.title-activity h2 {
  margin: 55px 0 30px 55px;
  color: #000000;
}

.activity-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 57px;
  margin: 0 0 40px 60px;
}

.activity-container .activity-marseille {
  border-radius: 25px;
}

/*1*/
.activity-container .activity-marseille .container-cards1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 35px;
}

.activity-container .activity-marseille .container-cards1 .card {
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 3px 3px 15px var(--color-picker-gray);
}

.activity-container .activity-marseille .container-cards1 .card a {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards1 .card a .card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 385px;
  height: 485px;
  object-fit: cover;
}

.activity-container .activity-marseille .container-cards1 .card a .card-body {
  padding: 17px 0 17px 15px;
}

.activity-container .activity-marseille .container-cards1 .card a h3 {
  margin: 0;
  font-size: 16px;
}

/*2*/
.activity-container .activity-marseille .container-cards2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 40px;
  margin-right: 35px;
}

.activity-container .activity-marseille .container-cards2 .card {
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 3px 3px 15px var(--color-picker-gray);
  width: 365px;
}

.activity-container .activity-marseille .container-cards2 .card a {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards2 .card a .card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: 20% 40%;
}

.activity-container .activity-marseille .container-cards2 .card a .card-body {
  display: flex;
  margin: 17px 0 17px 15px;
}

.activity-container .activity-marseille .container-cards2 .card a h3 {
  margin: 0;
  font-size: 16px;
}

/*3*/
.activity-container .activity-marseille .container-cards3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards3 .card {
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 3px 3px 15px var(--color-picker-gray);
  width: 365px;
}

.activity-container .activity-marseille .container-cards3 .card a {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards3 .card a .card-image {
  width: 100%;

}
.activity-container .activity-marseille .container-cards3 .card a .card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 163px;
  object-fit: cover;
  object-position: 50% 20%;
}

.activity-container .activity-marseille .container-cards3 .card a .card-body {
  display: flex;
  margin: 17px 0 17px 15px;
}

.activity-container .activity-marseille .container-cards3 .card a h3 {
  margin: 0;
  font-size: 16px;
}

/*4*/
.activity-container .activity-marseille .container-cards4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 427px;
  margin-right: 35px;
}

.activity-container .activity-marseille .container-cards4 .card {
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 3px 3px 15px var(--color-picker-gray);

}

.activity-container .activity-marseille .container-cards4 .card a {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards4 .card a .card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 385px;
  height: 485px;
  object-fit: cover;
  object-position: 44% 10%;
}

.activity-container .activity-marseille .container-cards4 .card a .card-body {
  display: flex;
  flex-direction: column;
  margin: 17px 0 17px 15px;
}

.activity-container .activity-marseille .container-cards4 .card a h3 {
  margin: 0;
  font-size: 16px;
}

/*5*/
.activity-container .activity-marseille .container-cards5 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.activity-container .activity-marseille .container-cards5 .card {
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 3px 3px 15px var(--color-picker-gray);
  width: 365px;
}

.activity-container .activity-marseille .container-cards5 .card a {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards5 .card a .card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 188px;
  object-fit: cover;
  object-position: 30% 10%;
}

.activity-container .activity-marseille .container-cards5 .card a .card-body {
  display: flex;
  margin: 17px 0 17px 15px;
}

.activity-container .activity-marseille .container-cards5 .card a h3 {
  margin: 0;
  font-size: 16px;
}

/*6*/
.activity-container .activity-marseille .container-cards6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards6 .card {
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 3px 3px 15px var(--color-picker-gray);
  width: 365px;
}

.activity-container .activity-marseille .container-cards6 .card a {
  text-decoration: none;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.activity-container .activity-marseille .container-cards6 .card a .card-image img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 20% 20%;
}

.activity-container .activity-marseille .container-cards6 .card a .card-body {
  display: flex;
  margin: 17px 0 17px 15px;
}

.activity-container .activity-marseille .container-cards6 .card a h3 {
  margin: 0;
  font-size: 16px;
}