
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 75px;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#logo img {
  width: 100px;

}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;  
}

nav ul {
    list-style: none;
    display: flex;
}

.header-nav li a {
  float: left;
  display: flex;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  margin-right: 15px;
  font-size: 15px;
  color: #181818;
  padding: 40px 50px 0px 50px;
  text-decoration: none;
}

.header-nav #accomodations {
  color: var(--color-blue);
}

.header-nav #activity {
  color: #000000; 
}

.header-nav a:hover {
  border-top: 2px solid red;
  cursor: pointer;
}

.header-nav a.links:hover {
  border-top: 2px solid blue;
  cursor: pointer;

}

