header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 36px;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  display: flex;
  padding: 0 22px;
}

#logo img {
  width: 105px;
}

nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav a {
  padding: 32px;
  border-top: 3px solid transparent;
  text-decoration: none;
  padding-top: 50px;
}

.header-nav a:hover{
  border-top: 3px solid var(--color-blue);
  cursor: pointer;
}

.header-nav #accomodations {
  color: var(--color-blue);
}

.header-nav #activity {
  color: black;
}

