.bloc-text {
  margin: 25px 0 32px 55px;
}

.forms {
  display: flex;
  margin: 0 0 20px 57px;
}
 
.forms i.fa-solid.fa-location-dot {
  background-color: var(--color-clear-gray);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 16px;
  font-size: 18px; 
}

.forms .input {
  width: 15%;
  display: inline-block;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #000000;
  border: 1px solid var(--color-clear-gray);
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 14px;
}

.research {
  background-color: var(--color-blue);
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 16px;
  font-size: 17px;
  margin-left: -7px;
  cursor: pointer;
}

#glass {
  display: none;

}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; 
}

.filters h3 {
  margin: 0 30px 0 57px;
  font-size: 19px;
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
 
.filters ul li {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-picker-gray);
  margin: 0 27px 20px 0px;
  border-left: none; 
  border-radius: 30px;
  position: relative;
}

.filters ul li i {
  display: flex;
  align-items: center;
  background-color: var(--color-clear-blue);
  color: var(--color-blue);
  border-radius: 50%;
  font-size: 19px;
  height: 50px;
  width: 50px;
  position: absolute;
  justify-content: center;
}

i.fa-solid.fa-money-bill-wave {
  font-size: 17px;
}

.filters ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  padding: 12px 20px 13px 75px;
}

.filters ul li a:hover {
  color: var(--color-blue);
  background-color: var(--color-clear-gray);
  border-radius: 30px; 
}

.font-info {
  display: flex;
  margin-left: 53px; 
  margin-bottom: 33px;
  align-items: center;
}
 
.font-info a p {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}

#info a i {
  color: var(--color-blue);
  margin-right: 12px;
  border: solid 1px var(--color-picker-gray);
  padding: 4px 8px 4px 8px;
  border-radius: 20px;
  font-size: small;
  align-items: center;
  justify-content: center; 
} 

#info-text p {
 align-items: center;
 justify-content: center;
}
