/* large device (Desktop, 992px or less)*/
@media screen and (max-width: 992px) {

.bloc-page {
  width: auto;
  margin: auto;
}

.forms .input {
  width: 28%; 
}

.filters h3 {
  margin-right: 10px;
}
  
.filters ul li {
  margin: 0 0 20px 45px;
}

#font-info a i {
  margin-right: 10px;
} 

.container .accomodations-marseille {
  width: 95%;
  margin-right: 0;
}

.container .accomodations-marseille .container-cards .card a .card-body h3 {
  font-size: 17px;
}

.container .accomodations-marseille .container-cards {
  justify-content: center;
  padding-left: 0;
}

#font {
  margin-right: 5px;
}

.chart-bloc {
  justify-content: space-between;
}

.title-chart h2 {
  margin: 0;
  padding-top: 47px;
  margin-left: 7px;
}

.container .bloc-popular {
  width: 95%;
  background-color: transparent;
}

.bloc-popular .container-cards .card {
  flex-basis: 61%;
}

.container .bloc-popular .container-cards {
  gap: 20px;
}
   
.container .bloc-popular .container-cards .card a .card-image img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  object-fit: cover;
  width: 183px;
  }

.container .bloc-popular .container-cards .card a .card-body h3 {
  margin: 0;
  font-size: 17px;
}

.bloc-popular .container-cards .card a .card-body {
  padding: 12px 72px 7px 40px;
}

.container .most-popular .container-cards .card a .card-body .stars i {
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 6px;
}
  
.activity-container {
  gap: 34px;
  justify-content: center;
  margin-left: 0;
}

.title-activity h2 {
  margin: 23px 0 20px 55px;
}

.activity-container .activity-marseille {
  width: 60%;
}
  
.activity-container .activity-marseille .container-cards1 {
  width: 100%;   
}
  
.activity-container .activity-marseille .container-cards1 .card a .card-image img {
  width: 100%;
  height: 200px;
  object-position: 0;
}
 
.activity-container .activity-marseille .container-cards2 {
  width: 100%;

}

.activity-container .activity-marseille .container-cards2 .card {
  width: 100%;
}
  
.activity-container .activity-marseille .container-cards2 .card a .card-image img {
  width: 100%;
  height: 200px;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards3 {
  width: 100%;
}

.activity-container .activity-marseille .container-cards3 .card {
  width: 100%; 
}
  
.activity-container .activity-marseille .container-cards3 .card a .card-image img {
  width: 100%;
  height: 200px;
  object-position: 0;
}
  
.activity-container .activity-marseille .container-cards4 {
  width: 100%;
  height: auto;
}
  
.activity-container .activity-marseille .container-cards4 .card a .card-image img {
  height: 200px;
  width: 100%;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards5 .card {
  width: 592px;
}

.activity-container .activity-marseille .container-cards5 .card a .card-image img {
  height: 200px;
}

.activity-container .activity-marseille .container-cards6 .card {
  width: 100%;
  max-width: 667px;
  margin-bottom: 50px;
}
  

}