/* medium device (tablets 768px or less)*/
@media screen and (max-width: 768px) {

  html,
  body{
    overflow-x:hidden;
  }

.bloc-page {
  width: auto;
}

header {
    padding-left: 0;  
}
  
#logo img {
  width: 100px;
}

nav a {
  font-size: 18px;
  padding-bottom: 3px;
  text-decoration: none; 
}

.header-nav {
  order: 1;
  flex-basis: 100%;
}

.header-nav a {
  flex-basis: 50%;
  text-align: center;
  border-bottom: 3px solid lightgrey;
}

.header-nav a:hover {
  border-bottom: 3px solid blue;
  border-top: transparent;
}

.header-nav #activity {
  color: #000000;
  border-bottom: 3px solid #F2F2F2; 
}

.header-nav #activity {
  color: #000000;
  border-bottom: 3px solid #F2F2F2;
}
 

#font-info a i {
  margin: auto;
}

.filters h3 {
  margin: 20px 0 0 37px;
  padding-left: 50px;
}

.filters ul {
  padding-left: 25px;
}

#font-info a i {
  margin: 0px 0 30px 12px;
}

.forms input {
  display: flex;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #000000;
  border: 1px solid var(--color-clear-gray);
  padding-top: 14px;
  padding-right: 49px;
  padding-bottom: 14px;
  padding-left: 14px;
}

.forms #btn-mobile {
  display: flex;
  background-color: var(--color-blue);
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  width: 54px;
  height: 54px;
  margin-left: 224px;
  float: none;
  max-width: none;
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 18px;
  padding-left: 4px;
  font-size: 21px;
}

.container .accomodations-marseille h2 {
  padding-left: 15px;
}

.container .accomodations-marseille {
  margin: auto;
  border-radius: 0;
  order: 2;
  background-color: transparent

}

.container .accomodations-marseille .container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-right: 49px;
}

.container .accomodations-marseille .container-cards .card {
  flex-basis: 45%;
  opacity: 1;
}

.title-activity h1 {
  margin: 0px 0 20px 33px;
  text-align:left;
}

.activity-container .activity-marseille {
  width: 85%;
}
       
.activity-container .activity-marseille .container-cards1 {
  width: 100%;   
}
  
.activity-container .activity-marseille .container-cards1 .card a .card-image img {
  width: 100%;
  height: 215px;
  object-position: 0;
}
  
.activity-container .activity-marseille .container-cards2 {
  width: 100%;
 
}

.activity-container .activity-marseille .container-cards2 .card {
  width: 100%;
  }
  
.activity-container .activity-marseille .container-cards2 .card a .card-image img {
  width: 100%;
  height: 215px;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards3 {
  width: 100%;
 
}

.activity-container .activity-marseille .container-cards3 .card {
  width: 100%; 
}
  
.activity-container .activity-marseille .container-cards3 .card a .card-image img {
  width: 100%;
  height: 215px;
  object-position: 0;
}
  
.activity-container .activity-marseille .container-cards4 {
  width: 100%;
  height: auto;
}
  
.activity-container .activity-marseille .container-cards4 .card {
  width: 100%;
}
  
.activity-container .activity-marseille .container-cards4 .card a .card-image img {
  height: 215px;
  width: 100%;
  object-position: 0;
}
  
.activity-container .activity-marseille .container-cards5 {
  width: 100%;

}

.activity-container .activity-marseille .container-cards5 .card {
  width: 100%;
}
  
.activity-container .activity-marseille .container-cards5 .card a .card-image {
  width: 100%;
}
  
.activity-container .activity-marseille .container-cards5 .card a .card-image img {
  height: 215px;
  object-position: 0;
}
  
.activity-container .activity-marseille .container-cards6 {
  width: 100%;
 
}

.activity-container .activity-marseille .container-cards6 .card {
  width: 100%;
}
  
.activity-container .activity-marseille .container-cards6 .card a .card-image {
  width: 100%;
}
  
.activity-container .activity-marseille .container-cards6 .card a .card-image img { 
  height: 215px;
  object-position: 0;
}
  
.activity-container .activity-marseille .container-cards6 .card a .card-body {
  margin-bottom: 12px;
}

.container .bloc-popular {
  background-color: var(--color-blue);
}

.container .bloc-popular .container-cards {
  gap: 20px;
}

.bloc-popular .container-cards .card {
  flex-basis: 95%;
}
.container .bloc-popular .container-cards .card a .card-image img {
  min-width: 125px;
  max-width: 125px;

}

.bloc-popular .container-cards .card a .card-body {
  padding-right: 23px;
}

.container .bloc-popular .container-cards .card a .card-body h3 {
  margin: 0;
  font-size: 16px;
  padding-bottom: 3px; 
  padding-right: 10px;
}
         
.container .bloc-popular .container-cards .card a .card-body p {
  margin: 0;
  font-size: 14px;      
}

footer .footer-container {
  flex-direction: column;
  gap: 0;
  width: 100%;
}

#contact {
  padding-bottom: 45px;
}
}