@media screen and (max-width: 375px) {

html,
body{
  width:100%;
  overflow-x:hidden;
}

header {
  padding: 0;
}

nav {
display: flex;
align-items: center;
flex-basis: 100%;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.header-nav {
  flex-basis: 100%;
}

.header-nav a {
  text-align: center;
  border-bottom: 3px solid lightgrey;
}

.header-nav a:hover{
  border-bottom-color: var(--color-blue);
  border-top: 3px solid transparent;
}

.header-nav #accomodations {
  flex-basis: 50%;
  color: #000000;
}

.header-nav #activity {
  flex-basis: 50%;
  color: #000000;
}

.forms {
  margin: 0 0 20px 19px;
}

.forms .input {
  width: 67%;
}

.forms .research {
  border-radius: 15px;
  height: 54px;
  padding-top: 17px;
  padding-left: 18px;
  cursor: pointer;
}

.research #search {
  display: none;
}

.research #glass {
  display: block;
  color: white;
  font-size: 21px;
  cursor: pointer;
}

.bloc-text {
  margin: 25px 45px 32px 19px;
}

.filters h3 {
  margin: 20px 0 0 27px;
  padding-left: 0;
}

.filters ul {
 padding-left: 0;
}

.filters ul li {
  margin: 0px 0 20px 19px;
}

.font-info {
  margin-left: 23px;
}

.container {
  margin-left: 0;
}

.container .accomodations-marseille {
  width: 100%;
  margin: auto;
  border-radius: 0;
  order: 2;
  background-color: transparent
}

.container .accomodations-marseille .container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-right: 49px;
}

.container .accomodations-marseille .container-cards .card {
  flex-basis: 70%;
  opacity: 1;
}

.bloc-popular {
  width: 100%;   
}
.container .bloc-popular {
  border-radius: 0;
  width: 100%;
}         

.container .bloc-popular .container-cards {
  padding-right: 7px;
}

.bloc-popular .container-cards .card {
  flex-basis: 88%;
}

.bloc-popular .container-cards .card a .card-image {
  margin-right: 17px;
}

.container .bloc-popular .container-cards .card a .card-image img {
  width: 106px;   
}

.bloc-popular .container-cards .card a .card-body {
  padding-right: 0;
  padding-left: 10px;
}
.container .bloc-popular .container-cards .card a .card-body h3 {
  margin: 0;
  font-size: 16px;
  padding-bottom: 3px; 
  padding-right: 10px;
}
         
.container .bloc-popular .container-cards .card a .card-body p {
  margin: 0;
  font-size: 14px;      
}

.container .accomodations-marseille .container-cards .card {
  flex-basis: 100%;
  opacity: 1;
}

.container .accomodations-marseille h2 {
  padding-left: 22px;
}

.container .accomodations-marseille .container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  justify-content: center;
  margin-right: 0px;
}

.container .accomodations-marseille .container-cards .card {
  flex-basis: 88%;
  opacity: 1;
}

.container .accomodations-marseille .container-cards .card a .card-image img {
  height: 116px;
}

#read-more a {
  padding: 20px 0 0px 30px;
}

.title-activity h2 {
  margin: 25px 0 20px 28px;
}

.activity-container {
  margin: 0;
}

.activity-container .activity-marseille .container-cards1 .card a .card-image img {
  width: 100%;
  height: 129px;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards2 .card a .card-image img {
  width: 100%;
  height: 129px;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards3 .card a .card-image img {
  width: 100%;
  height: 129px;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards4 .card a .card-image img {
  width: 100%;
  height: 129px;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards5 .card a .card-image img {
  width: 100%;
  height: 129px;
  object-position: 0;
}

.activity-container .activity-marseille .container-cards6 {
  margin-bottom: 0;
}

.activity-container .activity-marseille .container-cards6 .card {
  max-width: 667px;
  width: 326px;
}

.activity-container .activity-marseille .container-cards6 .card a .card-image img {
  height: 129px;
  object-fit: cover;
  object-position: 44% 34%;
  max-width: 100%;
}

footer .footer-container {
  flex-direction: column;
  gap: 0;
  width: 100%;
}

#contact {
  padding-bottom: 45px;
}
}
